.ren-event-tile.col-sm-4{
    padding: .5em;
    height: 27vh;
}
.ren-event-tile a {
    display: block;
    height: 100%;
    background-size: cover;
    color: white;
    text-align: center;
}

.ren-event-tile h2 {
    text-shadow: 1px 1px 15px #303030;
    font-size: 3em;
    margin: 0;
    padding-top: 1em;
}

.ren-event-tile h3 {
    font-size: 2em;
    margin: 0;
    padding-top: .5em;
}