.ren-big-blue-header {
    text-align: center;
    color: #ffffff;
    padding: 2vw 4vw 2vw 4vw;
    margin: .5em;
    background-color: #6c96b1;
}

img.ren-nutrition {
    width: 100%;
    opacity: 0.95;
    padding: 1em 1em 0 1em;
}

h1 {
    margin-top: 0;
}

.ren-tips {
    text-align: center;
    font-size: 1.3em;
    background: #6c96b1;
    color: white;
    margin: 0 1.5em;
    padding: 1em 2em;
    list-style-position: inside;
    font-family: "Open Sans";
}