.ren-contact-shopname {
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.ren-contact-text {
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}

.ren-openingsuren-modest-indicator {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    width: 100%;
}

.ren-openingsuren-modest-indicator.ren-openingsuren-closed {
    background-color: #ca5e55;
}

.ren-openingsuren-modest-indicator.ren-openingsuren-open {
    background-color: #66ae60;
    animation: pulse-open 1s infinite;
}

.ren-openingsuren-modest-indicator-label {
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.ren-openingsuren {
    display: inline-block;
}

.ren-openingsuren-indicator-cta-link {
    float: right;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-left: 0.7em;
}

.ren-openingsuren-indicator-cta-link:hover {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}


/* TABLES */
th {
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    padding-right: 1.2em;
}

td {
    font-family: 'Open Sans', sans-serif;
    text-align: "left";
    font-size: 1.2em;
}

table {
    margin-bottom: 1em;
}

.ren-openingsuren-currentday {
    font-weight: bold;
}

.ren-openingsuren-open > .ren-openingsuren-currentday > td {
    color : #33972c;
}

.ren-openingsuren-closed > .ren-openingsuren-currentday > td {
    color : #ca5e55;
}


.ren-homepage-column {
    margin-bottom: 0;
}

.ren-main-content-container {
    margin-right: 5%;
    margin-left: 5%;
}

@media screen and (max-width: 991px) {
    .ren-main-content-container {
        text-align: center;
    }
}

iframe {
    margin-bottom: 3em;
}



@keyframes pulse-open {
    0% {
        background-color: #66ae60;
    }
    50% {
        background-color: #33972c;
    }
    100% {
        background-color: #66ae60;
    }
}
